window#waybar {
	background-color: #000000;
	color: white;
}

#workspaces button {
	border: none;
	border-radius: 0;
	
  font-family: "JetBrainsMono NF";
	font-size: 11px;
	color: gray;
	padding: 0;
}

#workspaces button:hover {
	color: white;
	background: inherit;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  font-family: "JetBrainsMono NF";
	color: white;
	padding: 0 4px;
	background-color: white;
	box-shadow: 0 0 0 9px black inset;
}

#clock {
	font-family: "Adwaita Sans";
	font-weight: 600;
	font-size: 14px;
}

#language, #battery, #backlight, #wireplumber {
	margin-left: 14px;
	
	font-family: "Adwaita Sans";
	font-weight: 600;
	font-size: 14px;
}

#custom-power {
	padding-right: 9px;
	padding-left: 5px;
	margin-right: 2px;
	margin-left: 14px;
	
	font-weight: 800;
	font-size: 14px;
	font-family: "JetBrainsMono NF";

	background-color: #2b2b2b;
	border-radius: 6px;
}

/**********************
 ***** GTK Applet *****
 **********************/


menu {
  background-color: #2b2b2b;  
  color: #e5e5e5; 
  border-radius: 8px;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.55);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}

menuitem {
	padding: 6px 6px;
  font-size: 14px;
}

menuitem:hover {
  background-color: #204a87;
  color: #ffffff;
  border-radius: 8px;
}

GtkSeparatorMenuItem,
separator,
menuitem.separator {
	background-color: #262626;
  padding-bottom: 1px;
  margin: 4px 0;
}
